body{
  BACKGROUND-COLOR:#343fcb;
  color:pink;
}   

.header{
  text-decoration-line:Underline;
  font-weight:Bold;
}

iframe.song:hover {
  width:100%
}

a:link {
  color:orange;
}

a:visited {
  color:white;
}
  
