h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 200%;
}

body {
  background-color:#118CB5;
}

.featured {
  background-color: #B53A11;
  font-samily: helvetic;
  font-size:24px;
  
  padding: 50px 10px 20px 40px;
  margin: 30px;
}

.content {
  background-color: #999999;
  border: 10px solid blue;
  margin: 20px;
  padding: 15px 30px;
  width: 600px;
  height: 200px;
  overflow: scroll;
   animation-name:BMIT;
  animation-duration:4s;
  animation-iteration-count: infinite;
}

.content:hover {
  width:60%;
  background-color:Purple;
 
}

@keyframes BMIT {
  from {width:600px; background-color:gray;}
  to {width:80%; background-color:purple;}
}
